{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block content %}
<!-- Каждый пост из БД выводим в рамке на странице -->
{% for post in news %}
<div class="col-lg-6 col-xxl-4 mb-5">
    <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"></div>
            <h2 class="fs-4 fw-bold">{{ post.post_date|date:'d M Y' }}: {{ post.post_title|censor }}</h2>
            <p class="mb-0">{{ post.preview|censor }}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
